.shopCart {
  width: 100px;
  align-self: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopCart_button {
  display: contents;
}

.shopCart_button:hover {
  background-color: rgb(7, 33, 60);
}

.shopCart_button_icon {
  align-self: center;
  padding-right: 3px;
  font-size: 60px;
  color: wheat;
}

.shopCart_button_badge {
  background-color: rgb(24, 155, 187) !important;
  position: absolute;
  height: 24px;
  width: 30px;
  top: 44px;
  display: flexbox;
  justify-items: center;
}
.shopCart_button_badge_text {
  font-size: 14px;
  color: white;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Revisar botones de carro de compra !!! */

.shopCart_Button_buy {
  all: unset;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  /* border: 1px solid #212529; */
  line-height: 20px;
  height: 40px;
  width: 100%;
  background-color: rgb(24, 155, 187);
  display: flex;
  justify-content: center;
}

.shopCart_Button_buy:hover {
  all: unset;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  border: 1px solid orange;
  line-height: 20px;
  height: 40px;
  width: 100%;
  color: wheat;
  font-size: large;
  /* font-weight: bold; */
  background-color: rgb(12, 53, 96);
  display: flex;
  justify-content: center;
}

.shopCart_Button_buy a {
  color: rgb(210, 19, 19);
  font-size: 1rem;
  font-weight: bold;
}

/* Revisar !!! */

.shopCart_title {
  color: wheat;
  background-color: rgb(12, 53, 96);
}

.buy_button {
  color: wheat;
  background-color: rgb(12, 53, 96);
}

/* En tu archivo CSS */
.btn-orange {
  background-color: #ffa500 !important; /* Color naranja */
  border-color: #ffa500; /* Color del borde */
  color: white; /* Texto en color blanco */
}

.btn-orange:hover {
  background-color: #ff8c00; /* Color naranja más oscuro cuando pasa el mouse */
  border-color: #ff8c00;
}
