.EmptyCar {
  background-color: #ededed;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
  display: flexbox;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.CheckoutPage {
  background-color: #ededed;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

.CheckoutData {
  /* border: 2px solid rgb(157, 21, 194); */
  padding: 2%;
  /* background-color: #ededed;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.CheckoutCar {
  /* border: 2px solid rgb(194, 76, 21); */
  padding: 2%;
  background-color: #ededed;
  /*   border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center; */
  width: 100%;
  height: 100%;
}

.buy_button {
  color: white;
  background-color: rgb(24, 155, 187) !important;
  width: 100%;
  font-size: x-large;
}

.buy_button:hover {
  color: wheat;
  background-color: rgb(12, 53, 96) !important;
  font-weight: bold;
}
