.book {
  display: flex;
  text-align: center;
  padding: 10px;
  width: 300px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.book__link {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

.book__Image {
  cursor: pointer;
  width: auto;
  height: 280px;
  padding-bottom: 15px;
}

.book__buttonAdd {
  width: 180px;
  height: 35px;
  border-radius: 20px;
  background-color: rgb(24, 155, 187);
  color: whitesmoke;
  font-size: 16px;
}

.book__buttonAdd:hover {
  background-color: rgb(12, 53, 96);
  color: wheat;
  transition: all 0.3s ease-in;
}
