.footer {
  border: 5px solid rgb(157, 21, 194);
  background-color: rgb(12, 53, 96);
  /* margin-top: auto; */
  height: 110px;
  width: 102%;
  align-self: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer_legend {
  border: 2px solid rgb(44, 21, 194);
  display: flex;
  justify-content: space-around;
  /* grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr; */
}

.footer_legend > .footer1 {
  border: 2px solid rgb(206, 103, 29);
  /* text-align: center; */
  /* display: flex; */
  /* height: 110px; */
  color: white;
}

.footer_hr {
  border: 2px solid rgb(17, 120, 171);
  /* display: block; */
  /* width: 0.5px; */
  /* background: linear-gradient(to bottom, #333, white, #333); */
}