.footer {
  background-color: rgb(12, 53, 96);
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  font-size: medium;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.container__secction {
  padding: 25px;
  flex-direction: column;
  display: flex;
  width: 25%;
}

.container__secction > h5 {
  color: wheat;
  font-weight: bold;
  padding: 0;
}

.container__secction > p {
  border-bottom: 1px solid gray;
  border-bottom-right-radius: 10px;
  padding-bottom: 2px;
}

.footer__copyright > h6 {
  text-align: center;
  font-size: small;
  color: wheat;
}
